body {
  margin: auto;
  font-size: 16pt;
  text-align: justify;
  width: 672px;
  font-family: helvetica;
  background: #100020;
  color: lightGrey;
  font-weight: 100;
  line-height: 1.15;
}

h1 { 
  background-image: url("logo.png");
  width: 672px;
  height: 223px;
  background-repeat:no-repeat;
  margin-top: 1em;
}

p .center {
  text-align: center;
}

span { 
  display: none; 
}

a {
  color: lightGrey;
}

.footer {
  text-align: right;
  font-size: .5em;
} 